# Credit Card Risk Analysis

In [1]:
import warnings
warnings.filterwarnings('ignore')

### Import all required libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#load the data
demographic_df=pd.read_csv('Demographic_data.csv')
credit_bureau_df=pd.read_csv('Credit_Bureau_data.csv')

In [4]:
#Demographic Data
demographic_df.head(10)

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,No of months in current company,Performance Tag
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,56,0.0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,46,0.0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,49,0.0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,53,0.0
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,43,0.0
5,312196805,20,M,Married,1.0,39.0,Bachelor,SAL,NaN,116,52,0.0
6,532217204,42,M,Married,2.0,55.0,Professional,SAL,Rented,104,41,0.0
7,74788849,34,M,Married,2.0,49.0,Masters,SE_PROF,Rented,108,40,0.0
8,782743811,30,M,Married,3.0,48.0,Phd,SAL,Rented,115,58,0.0
9,96964957,22,M,Single,1.0,38.0,Bachelor,SE_PROF,Rented,111,57,0.0

In [5]:
demographic_df.shape

(71295, 12)

In [6]:
# View of Credit Bureau Data
credit_bureau_df.head(10)

,Application ID,No of times 90 DPD or worse in last 6 months,No of times 60 DPD or worse in last 6 months,No of times 30 DPD or worse in last 6 months,No of times 90 DPD or worse in last 12 months,No of times 60 DPD or worse in last 12 months,No of times 30 DPD or worse in last 12 months,Avgas CC Utilization in last 12 months,No of trades opened in last 6 months,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag
0,954457215,0,0,0,0,0,0,4.0,1.0,2,0,0,0,0,1.0,2999395.0,4,0,0.0
1,432830445,0,0,0,0,0,0,3.0,1.0,2,0,0,0,0,0.0,3078.0,5,0,0.0
2,941387308,0,0,0,0,0,0,7.0,0.0,0,0,0,0,0,1.0,3004972.0,2,0,0.0
3,392161677,0,0,0,0,0,0,11.0,1.0,1,0,0,0,0,1.0,3355373.0,4,1,0.0
4,182011211,0,0,0,0,0,0,12.0,0.0,1,0,0,0,0,1.0,3014283.0,4,0,0.0
5,312196805,0,0,0,0,0,0,10.0,0.0,0,0,0,0,0,0.0,2569.0,1,0,0.0
6,532217204,0,0,0,0,0,0,11.0,0.0,1,0,0,0,0,1.0,3005535.0,4,0,0.0
7,74788849,0,0,0,0,0,0,13.0,1.0,1,0,0,0,0,1.0,3004790.0,3,0,0.0
8,782743811,0,0,0,0,0,1,9.0,0.0,0,0,0,0,0,1.0,3007428.0,2,0,0.0
9,96964957,0,0,0,0,0,0,6.0,1.0,1,0,0,0,0,0.0,170860.0,1,1,0.0

In [7]:
credit_bureau_df.shape

(71295, 19)

In [8]:
# Merge the demographic and credit bureau data
data=pd.merge(left=demographic_df,right=credit_bureau_df,on='Application ID',how='inner')
data.head()

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,...,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag_y
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,...,2,0,0,0,0,1.0,2999395.0,4,0,0.0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,...,2,0,0,0,0,0.0,3078.0,5,0,0.0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,...,0,0,0,0,0,1.0,3004972.0,2,0,0.0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,...,1,0,0,0,0,1.0,3355373.0,4,1,0.0
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,...,1,0,0,0,0,1.0,3014283.0,4,0,0.0

In [9]:
data.shape

(71301, 30)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71301 entries, 0 to 71300
Data columns (total 30 columns):
Application ID                                                     71301 non-null int64
Age                                                                71301 non-null int64
Gender                                                             71299 non-null object
Marital Status (at the time of application)                        71295 non-null object
No of dependents                                                   71298 non-null float64
Income                                                             71301 non-null float64
Education                                                          71182 non-null object
Profession                                                         71287 non-null object
Type of residence                                                  71293 non-null object
No of months in current residence                                  71301 non-null int64
No of months in current company                                    71301 non-null int64
Performance Tag_x                                                  69876 non-null float64
No of times 90 DPD or worse in last 6 months                       71301 non-null int64
No of times 60 DPD or worse in last 6 months                       71301 non-null int64
No of times 30 DPD or worse in last 6 months                       71301 non-null int64
No of times 90 DPD or worse in last 12 months                      71301 non-null int64
No of times 60 DPD or worse in last 12 months                      71301 non-null int64
No of times 30 DPD or worse in last 12 months                      71301 non-null int64
Avgas CC Utilization in last 12 months                             70243 non-null float64
No of trades opened in last 6 months                               71300 non-null float64
No of trades opened in last 12 months                              71301 non-null int64
No of PL trades opened in last 6 months                            71301 non-null int64
No of PL trades opened in last 12 months                           71301 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     71301 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    71301 non-null int64
Presence of open home loan                                         71029 non-null float64
Outstanding Balance                                                71029 non-null float64
Total No of Trades                                                 71301 non-null int64
Presence of open auto loan                                         71301 non-null int64
Performance Tag_y                                                  69876 non-null float64
dtypes: float64(8), int64(17), object(5)
memory usage: 16.9+ MB

In [11]:
data.describe()

,Application ID,Age,No of dependents,Income,No of months in current residence,No of months in current company,Performance Tag_x,No of times 90 DPD or worse in last 6 months,No of times 60 DPD or worse in last 6 months,No of times 30 DPD or worse in last 6 months,...,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag_y
count,7.130100e+04,71301.000000,71298.000000,71301.000000,71301.000000,71301.000000,69876.000000,71301.000000,71301.000000,71301.000000,...,71301.000000,71301.000000,71301.000000,71301.000000,71301.000000,71029.000000,7.102900e+04,71301.000000,71301.000000,69876.000000
mean,4.989767e+08,44.942694,2.865256,27.194450,34.564985,33.958780,0.042203,0.270319,0.430555,0.577243,...,5.826721,1.206841,2.397414,1.763510,3.535210,0.256402,1.249092e+06,8.186379,0.084627,0.042203
std,2.885844e+08,9.939530,1.382308,15.514663,36.760727,20.411457,0.201054,0.534161,0.825330,1.074450,...,5.064964,1.352902,2.420039,1.971232,3.582094,0.436650,1.278846e+06,7.090555,0.278328,0.201054
min,1.004500e+05,-3.000000,1.000000,-0.500000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,2.483824e+08,37.000000,2.000000,14.000000,6.000000,16.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.115220e+05,3.000000,0.000000,0.000000
50%,4.975977e+08,45.000000,3.000000,27.000000,11.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,5.000000,1.000000,2.000000,1.000000,3.000000,0.000000,7.749850e+05,6.000000,0.000000,0.000000
75%,7.496040e+08,53.000000,4.000000,40.000000,60.000000,51.000000,0.000000,0.000000,1.000000,1.000000,...,9.000000,2.000000,4.000000,3.000000,5.000000,1.000000,2.920753e+06,10.000000,0.000000,0.000000
max,1.000084e+09,65.000000,5.000000,60.000000,126.000000,133.000000,1.000000,3.000000,5.000000,7.000000,...,28.000000,6.000000,12.000000,10.000000,20.000000,1.000000,5.218801e+06,44.000000,1.000000,1.000000

In [12]:
sum(data['Application ID'].duplicated())

9

In [13]:
# drop duplicate in rows 
data=data.drop_duplicates(['Application ID'])

In [14]:
# Deleted all duplicate rows
sum(data.duplicated(subset='Application ID')==1   )

0

In [15]:
data.isnull().sum()

Application ID                                                        0
Age                                                                   0
Gender                                                                2
Marital Status (at the time of application)                           6
No of dependents                                                      3
Income                                                                0
Education                                                           119
Profession                                                           14
Type of residence                                                     8
No of months in current residence                                     0
No of months in current company                                       0
Performance Tag_x                                                  1425
No of times 90 DPD or worse in last 6 months                          0
No of times 60 DPD or worse in last 6 months                          0
No of times 30 DPD or worse in last 6 months                          0
No of times 90 DPD or worse in last 12 months                         0
No of times 60 DPD or worse in last 12 months                         0
No of times 30 DPD or worse in last 12 months                         0
Avgas CC Utilization in last 12 months                             1058
No of trades opened in last 6 months                                  1
No of trades opened in last 12 months                                 0
No of PL trades opened in last 6 months                               0
No of PL trades opened in last 12 months                              0
No of Inquiries in last 6 months (excluding home & auto loans)        0
No of Inquiries in last 12 months (excluding home & auto loans)       0
Presence of open home loan                                          272
Outstanding Balance                                                 272
Total No of Trades                                                    0
Presence of open auto loan                                            0
Performance Tag_y                                                  1425
dtype: int64

In [16]:
# Delete the duplicate column Performance Tag_y
data = data.drop(columns = ['Performance Tag_x'])

In [17]:
data = data.drop(columns = ['Application ID'])

In [18]:
# The column Performance Tag_x is removed from the dataset
data.columns

Index(['Age', 'Gender', 'Marital Status (at the time of application)',
       'No of dependents', 'Income', 'Education', 'Profession ',
       'Type of residence', 'No of months in current residence',
       'No of months in current company',
       'No of times 90 DPD or worse in last 6 months',
       'No of times 60 DPD or worse in last 6 months',
       'No of times 30 DPD or worse in last 6 months',
       'No of times 90 DPD or worse in last 12 months',
       'No of times 60 DPD or worse in last 12 months',
       'No of times 30 DPD or worse in last 12 months',
       'Avgas CC Utilization in last 12 months',
       'No of trades opened in last 6 months',
       'No of trades opened in last 12 months',
       'No of PL trades opened in last 6 months',
       'No of PL trades opened in last 12 months',
       'No of Inquiries in last 6 months (excluding home & auto loans)',
       'No of Inquiries in last 12 months (excluding home & auto loans)',
       'Presence of open home loan', 'Outstanding Balance',
       'Total No of Trades', 'Presence of open auto loan',
       'Performance Tag_y'],
      dtype='object')

In [19]:
bins = [0, 20, 40, 60, 80,100]
labels =['[0,20]','[20,40]','[40,60]','[60,80]','[80,100]'] 
data['AGE_binned'] = pd.cut(data['Age'], bins,labels=labels) 
data.head()

,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,No of months in current company,...,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag_y,AGE_binned
0,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,56,...,0,0,0,0,1.0,2999395.0,4,0,0.0,"[40,60]"
1,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,46,...,0,0,0,0,0.0,3078.0,5,0,0.0,"[20,40]"
2,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,49,...,0,0,0,0,1.0,3004972.0,2,0,0.0,"[20,40]"
3,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,53,...,0,0,0,0,1.0,3355373.0,4,1,0.0,"[40,60]"
4,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,43,...,0,0,0,0,1.0,3014283.0,4,0,0.0,"[20,40]"

In [41]:
data['AGE_binned'].describe()

count       71272
unique          4
top       [40,60]
freq        41095
Name: AGE_binned, dtype: object

In [49]:
type(data['AGE_binned'])

pandas.core.series.Series

In [48]:
type(data['Gender'])

KeyError: 'Gender'

In [20]:
data.shape

(71292, 29)

In [21]:
print(data['Performance Tag_y'].describe())
print(data.shape)

count    69867.000000
mean         0.042180
std          0.201001
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Performance Tag_y, dtype: float64
(71292, 29)

In [22]:
data.isnull().sum()*100/data.shape[0]

Age                                                                0.000000
Gender                                                             0.002805
Marital Status (at the time of application)                        0.008416
No of dependents                                                   0.004208
Income                                                             0.000000
Education                                                          0.166919
Profession                                                         0.019638
Type of residence                                                  0.011221
No of months in current residence                                  0.000000
No of months in current company                                    0.000000
No of times 90 DPD or worse in last 6 months                       0.000000
No of times 60 DPD or worse in last 6 months                       0.000000
No of times 30 DPD or worse in last 6 months                       0.000000
No of times 90 DPD or worse in last 12 months                      0.000000
No of times 60 DPD or worse in last 12 months                      0.000000
No of times 30 DPD or worse in last 12 months                      0.000000
Avgas CC Utilization in last 12 months                             1.484037
No of trades opened in last 6 months                               0.001403
No of trades opened in last 12 months                              0.000000
No of PL trades opened in last 6 months                            0.000000
No of PL trades opened in last 12 months                           0.000000
No of Inquiries in last 6 months (excluding home & auto loans)     0.000000
No of Inquiries in last 12 months (excluding home & auto loans)    0.000000
Presence of open home loan                                         0.381529
Outstanding Balance                                                0.381529
Total No of Trades                                                 0.000000
Presence of open auto loan                                         0.000000
Performance Tag_y                                                  1.998822
AGE_binned                                                         0.028054
dtype: float64

In [23]:
data.shape

(71292, 29)

In [24]:
# creating dummy variables for categorical variables

# subset all categorical variables
data_categorical = data.select_dtypes(include=['object'])
data_categorical.head()

,Gender,Marital Status (at the time of application),Education,Profession,Type of residence
0,F,Married,Bachelor,SAL,Rented
1,M,Married,Professional,SE_PROF,Rented
2,M,Single,Bachelor,SE_PROF,Rented
3,M,Married,Bachelor,SE,Rented
4,F,Married,Professional,SAL,Rented

In [25]:
# convert into dummies
data_dummies = pd.get_dummies(data_categorical, drop_first=True)
data_dummies.head()

,Gender_M,Marital Status (at the time of application)_Single,Education_Masters,Education_Others,Education_Phd,Education_Professional,Profession _SE,Profession _SE_PROF,Type of residence_Living with Parents,Type of residence_Others,Type of residence_Owned,Type of residence_Rented
0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,1,0,1,0,0,0,1
2,1,1,0,0,0,0,0,1,0,0,0,1
3,1,0,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,0,1

In [26]:
# drop categorical variables 
data= data.drop(list(data_categorical.columns), axis=1)

In [27]:
# concat dummy variables with X
data = pd.concat([data, data_dummies], axis=1)

In [28]:
data.head()

,Age,No of dependents,Income,No of months in current residence,No of months in current company,No of times 90 DPD or worse in last 6 months,No of times 60 DPD or worse in last 6 months,No of times 30 DPD or worse in last 6 months,No of times 90 DPD or worse in last 12 months,No of times 60 DPD or worse in last 12 months,...,Education_Masters,Education_Others,Education_Phd,Education_Professional,Profession _SE,Profession _SE_PROF,Type of residence_Living with Parents,Type of residence_Others,Type of residence_Owned,Type of residence_Rented
0,48,2.0,40.0,113,56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,31,4.0,55.0,112,46,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
2,32,2.0,46.0,104,49,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,43,1.0,53.0,94,53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,35,5.0,44.0,112,43,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [29]:
data.isnull().sum()

Age                                                                   0
No of dependents                                                      3
Income                                                                0
No of months in current residence                                     0
No of months in current company                                       0
No of times 90 DPD or worse in last 6 months                          0
No of times 60 DPD or worse in last 6 months                          0
No of times 30 DPD or worse in last 6 months                          0
No of times 90 DPD or worse in last 12 months                         0
No of times 60 DPD or worse in last 12 months                         0
No of times 30 DPD or worse in last 12 months                         0
Avgas CC Utilization in last 12 months                             1058
No of trades opened in last 6 months                                  1
No of trades opened in last 12 months                                 0
No of PL trades opened in last 6 months                               0
No of PL trades opened in last 12 months                              0
No of Inquiries in last 6 months (excluding home & auto loans)        0
No of Inquiries in last 12 months (excluding home & auto loans)       0
Presence of open home loan                                          272
Outstanding Balance                                                 272
Total No of Trades                                                    0
Presence of open auto loan                                            0
Performance Tag_y                                                  1425
AGE_binned                                                           20
Gender_M                                                              0
Marital Status (at the time of application)_Single                    0
Education_Masters                                                     0
Education_Others                                                      0
Education_Phd                                                         0
Education_Professional                                                0
Profession _SE                                                        0
Profession _SE_PROF                                                   0
Type of residence_Living with Parents                                 0
Type of residence_Others                                              0
Type of residence_Owned                                               0
Type of residence_Rented                                              0
dtype: int64

In [30]:
data1= data[data['Performance Tag_y'].notnull()] 
data1.shape

(69867, 36)

In [31]:
data2= data[data['Performance Tag_y'].isnull()]
data2.shape

(1425, 36)

In [32]:
data.shape

(71292, 36)

## Apply WOE

In [33]:
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

In [34]:
max_bin = 20
force_bin = 3

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [35]:
final_iv_data, IV_data = data_vars(data1,data1['Performance Tag_y'])

TypeError: data type not understood

In [ ]:
final_iv_data

In [ ]:


data['Age'].describe()

In [ ]:
data['Gender'].describe()

In [ ]:
data['Gender'].fillna('M',inplace=True)

In [ ]:
data['Marital Status (at the time of application)'].describe()

In [ ]:
data['Marital Status (at the time of application)'].astype('category').value_counts()

In [ ]:
data['No of dependents'].describe()

In [ ]:
data['No of dependents'].fillna(data['No of dependents'].median(),inplace=True)

In [ ]:
data['No of dependents'].isnull().sum()

In [ ]:
data['Income'].describe()

In [ ]:
sns.boxplot(x='Income',data=data)
plt.show()

In [ ]:
data['Education'].astype('category').value_counts()

In [ ]:
data['Education'].fillna('Professional',inplace=True)

In [ ]:
data['Profession '].astype('category').value_counts()

In [ ]:
data['Profession '].fillna('SAL',inplace=True)

In [ ]:
data['Type of residence'].astype('category').value_counts()

In [ ]:
data['Type of residence'].fillna('Rented',inplace=True)

### Avgas CC Utilization in last 12 months

In [ ]:
# Average credit card utilization 
data['Avgas CC Utilization in last 12 months'].value_counts()

In [ ]:
sns.boxplot(x='Avgas CC Utilization in last 12 months',data=data)
plt.show()

In [ ]:
data['Avgas CC Utilization in last 12 months'].fillna(data['Avgas CC Utilization in last 12 months'].median(),inplace=True)

In [ ]:
data['No of trades opened in last 6 months'].describe()

In [ ]:
sns.boxplot(x='No of trades opened in last 6 months',data=data)
plt.show()

In [ ]:
data['No of trades opened in last 6 months'][data['No of trades opened in last 6 months']>6] =6

In [ ]:
data['No of trades opened in last 6 months'].describe()

In [ ]:
data['No of trades opened in last 6 months'].fillna(data['No of trades opened in last 6 months'].median(),inplace=True)

In [ ]:
data['Presence of open home loan'].describe()

In [ ]:
data['Presence of open home loan'].fillna(data['Presence of open home loan'].median(),inplace=True)

In [ ]:
data['Outstanding Balance'].describe()

In [ ]:
data['Outstanding Balance'].fillna(data['Outstanding Balance'].median(),inplace=True)

In [ ]:
data['No of months in current residence'].describe()

In [ ]:
data['Presence of open home loan'].describe()

In [ ]:
data['Presence of open home loan'].fillna(1,inplace=True)

In [ ]:
data.isnull().sum()*100/data.shape[0]